
<div class="box-esquerdo-titulo">
    <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
</div>
<div class="box-esquerdo-video">
    <img src="../../../assets/dewey 1.png" alt="" class="primeira-imagem">
    <div class="overlay"></div>
    <div class="texto-sobre-Inicioimagem">
        <p>Análise sensorial de preparações funcionais desenvolvidas<br>
                para escolares entre 09 e 15 anos, do município de <br> Campinas/SP</p>
    </div>
    <img src="../../../../assets/image.png" alt="" class="segunda-imagem">
    <div class="texto-sobre-Fimimagem">
        <h2>Beatriz Christiane Melo</h2>
        <h4>FCA / Universidade Estadual de Campinas</h4>
    </div>
</div>

