.titulo-resumo{
    background-color: #FDF1EB; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px; 
    border: 1px #ECECEC solid;
}

.titulo-resumo span{
    font-size: 23px;
    font-weight: 600;
    padding: 20px;
}

.texto-resumo{
    padding: 10px 20px;
}

.texto-resumo p {
    line-height: 22.75px;
    letter-spacing: 0.28px;
}

.texto-resumo p a{
    border: none;
    background: none;
    color: #ED7839;
    font-weight: 700;
    line-height: 21.33px;
    cursor: pointer;
}