<div class="sidebar">
    <div class="sidebar__logo">
        <h2>SLACA 2019</h2>
    </div>
    <div class="sidebar__img">
        <img src="../../../assets/img/dewey 4.png" alt="">
    </div>
    <div class="sidebar__menu">
        <ul>
            <li><a href="#">Apresentação</a></li>
            <li><a href="#">Comitês</a></li>
            <li><a href="#">Autores</a></li>
            <li><a href="#">Eixos Temáticos</a></li>
            <li class="selected"><a href="#">Trabalhos</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
    </div>
</div>
  
 