.content {
    margin-left: 200px;
    padding: 3rem 1rem 1rem 1rem;
}

.conteudo-principal{
    display: flex;
}

.box-esquerdo{
    color: #ED7839;
    width: 70%;
}

.box-direito{
    width: 30%;
}

.resumo{
    margin-top: 20px;
    border-radius: 3px; 
    border: 1px #ECECEC solid;
}

.discussoes{
    margin-top: 25px;
    border-radius: 3px; 
    border: 1px #ECECEC solid;
}


@media only screen and (max-width: 1020px) {
    .conteudo-principal{
        display: flex;
        flex-direction: column;
    }

    .box-esquerdo{
        width: 100%;
    }

    .box-direito {
        margin-top: 30px;
        width: 100%;
    }
}