<div class="button-group">
    <a class="download-button">
      <i class="fas fa-download"></i> Download
    </a>
    <a class="star-button">
      <i class="fas fa-star"></i>
    </a>
    <a class="doi-button">
        <img src="../../../../assets/img/doi.png" alt="">
    </a>
</div>

<div class="info-link">
    <p><a href="#">COMO CITAR ESSE TRABALHO?</a></p>
</div>

<div class="caixinha-detalhes">
    <div class="caixinha-detalhes-titulo">
        <span>Detalhes</span>
    </div>
    <div class="caixinha-detalhes-info">
        <div class="caixinha-info">
            <p>Tipo de Apresentação: <span><strong>Pôster</strong></span></p>
            <p>Eixo temático: <span><strong>Alimentação e saúde (AS) </strong></span></p>
            <p>Palavras-chaves: <span><strong>Alimentos funcionais, alimentação escolar.</strong></span></p>
        </div>

        <div class="caixinha-autores">
            <p>Autores: </p>
            <ul>
            <li>Galileo Galilei¹</li>
            <li>Berta Lange de Morretes²</li>
            <li>Isaac Newton³</li>
            <li>Cesar Lattes¹</li>
            <li>Stephen Hawking⁴</li>
        </ul>
        </div>
        <div class="caixinha-universidades">
            <ul>
                <li>¹Universidade Estadual de Campinas</li>
                <li>²Universidade de São Paulo</li>
                <li>³Instituto Nacional de Pesquisas Espaciais</li>
                <li>⁴Universidade Federal do Rio de Janeiro</li>
            </ul>
        </div>
    </div>
</div>
